Repository paleite/synthwave-name-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier-eslint --write, npx eslint, npx prettier-stylelint --write, npx stylelint

.lintstagedrc:

{
  "ignore": ["docs"],
  "linters": {
    "*.js": ["npx prettier-eslint --write", "npx eslint", "git add"],
    "*.scss": ["npx prettier-stylelint --write", "npx stylelint", "git add"],
    "{,.}*{rc,.json}": ["npx prettier-eslint --write", "git add"]
  }
}

Update name
  src/index.pug
Due: none

Update words
  src/words/80s.json
  src/words/slang.json
  src/words/synthwave.json
Due: npx prettier-eslint --write

Update docs
  docs/app.ff41b674.js
  docs/index.html
Due: npx prettier-eslint --write, npx eslint

Update tooling
  .lintstagedrc
  .prettierignore
  package.json
  yarn.lock
Due: npx prettier-eslint --write

Lint
  src/app.js
  src/shuffle.js
Due: npx prettier-eslint --write, npx eslint

Update app
  docs/app.05e8ce36.js
  docs/app.ff41b674.js
  docs/index.html
  docs/style.317625b9.css
  docs/style.58d83a77.css
Due: npx prettier-eslint --write, npx eslint

Use production mode for dist-task
  package.json
  yarn.lock
Due: npx prettier-eslint --write

Create auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

Update auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none
